<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <div class="container-fluid"> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/"><img src="https://i.imgur.com/5qqMgem.png" alt="CustomFit"></a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="active nav-item"><a href="{{ site.url }}{{ site.baseurl }}/" class="nav-link">Home <span class="sr-only">(current)</span></a></li> -->
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdown01">Men's</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}">Protective Toe</a>
              <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}">Protective Toe</a>
              <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}">Protective Toe</a>
              <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}">Protective Toe</a>
              <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}">Protective Toe</a>
              <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}">Protective Toe</a>
            </div>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false" id="dropdown02">Women's</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}">Protective Toe</a>
              <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}">Protective Toe</a>
              <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}">Protective Toe</a>
              <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}">Protective Toe</a>
              <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}">Protective Toe</a>
            </div>
          </li>
          <li class="nav-item"><a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" id="dropdown03">New</a></li>
          <li class="nav-item"><a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" id="dropdown03">Under Subsidy</a></li>
          <li class="nav-item"><a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" id="dropdown03">Sale</a></li>
          <!-- <li><a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" id="dropdown03">Collections</a></li> -->
          <li class="nav-item"><a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" id="dropdown03">Brands</a></li>
          <!-- <li><a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" id="dropdown03">Apparel</a></li> -->
          <!-- <li><a href="#">Contact</a></li> -->
        </ul>
        <!-- <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->
        <!-- <ul class="nav navbar-nav navbar-center" style="padding: 0 1em;">
          <li>
            <label for="search" class="sr-only">Search</label>
            <div class="input-group">
              <input type="text" id="search" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default color-primary" type="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="material-icons">search</i></button>
              </span>
            </div>
          </li>
        </ul> -->
        <ul class="nav navbar-nav navbar-center">
          <li>
            <div class="input-group">
              <input type="text" class="form-control" style="width: 300px;" placeholder='Brand, feature, SKU, etc.' aria-label="Name, feature, SKU, etc.">
              <span class="input-group-btn">
                <button class="btn btn-default color-primary" type="button"><i class="material-icons" style="font-size: 1.6em;">search</i></button>
                <!-- <button class="btn color-primary" type="button">Search</button> -->
              </span>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-center" style="padding: 0 1em;">
          <li><a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" id="dropdown03">Account</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="nav-link" style="font-size: 1em;">
            <i class="material-icons" style="font-size: 1.8em;">shopping_cart</i> (2 items | $211.45)
          </a></li>
          <!-- <li><span class="nav-link" style="color: #666;">|</span></li>
            <li><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/login">Español</a></li>
            <li><span class="nav-link" style="color: #666;">|</span></li>
          <li><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/login">Logout</a></li> -->
        </ul>
      </div>
    <!-- </div> -->
</nav>
<!-- <div class="row">
  <div class="col-sm-12 col-md-4 mr-auto">
    <img src="http://placehold.it/200x100" alt="Brand logo">
  </div>
  <div class="col-sm-12 col-md-3">
    <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/login" style="display: inline; color: #999; margin: 1em;">Español</a>
    <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/login" style="display: inline; color: #999; margin: 1em;">Logout</a>
  </div>
</div> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form class="collapse" id="collapseExample">
        <h3>Filter Options</h3>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Feature</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option value="1">Puncture-Resistant</option>
              <option value="2">Protective Toe</option>
              <option value="3">Metatarsal Guard</option>
            </select>
          </div>
          <div class="col-auto">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Style</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option value="1">Athletic</option>
              <option value="2">Wellington</option>
              <option value="3">Duty</option>
            </select>
          </div>
          <div class="col-auto">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Brand</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option value="1">Rocky</option>
              <option value="2">Georgia</option>
              <option value="3">Durango</option>
            </select>
          </div>
          <div class="col-auto">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Size</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option value="1">5</option>
              <option value="2">6</option>
              <option value="3">7</option>
            </select>
          </div>
          <div class="col-auto">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Width</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option value="2">Narrow</option>
              <option value="1">Medium</option>
              <option value="1">Wide</option>
              <option value="1">Extra Wide</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="somename">Pricing</label>
            <input
            	type="text"
            	name="somename"
            	data-provide="slider"
            	data-slider-min="20"
            	data-slider-max="500"
            	data-slider-step="10"
            	data-slider-value="150"
              data-slider-tooltip="always"
            >
          </div>
          <div class="col-sm-6">
            <div class="btn-group" data-toggle="buttons">
              Gender
              <label class="btn btn-primary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Both
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Men's
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Women's
              </label>
            </div>
          </div>
          <div class="col-auto custom-controls-stacked">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Remember my preference</span>
            </label>
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Remember my preference</span>
            </label>
          </div>
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->
