.hero {
  // background: url('http://i.imgur.com/DjpDSVf.jpg') center center no-repeat;
  // background-size: cover;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#827717+1,afb42b+51,cddc39+100 */
  // background: #827717;
  // background: -moz-linear-gradient(-45deg,  #827717 1%, #afb42b 51%, #cddc39 100%);
  // background: -webkit-linear-gradient(-45deg,  #827717 1%,#afb42b 51%,#cddc39 100%);
  // background: linear-gradient(135deg,  #827717 1%,#afb42b 51%,#cddc39 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#827717', endColorstr='#cddc39',GradientType=1 );
  background: #333333;
  background: -moz-linear-gradient(-45deg, #333333 0%, #666666 100%);
  background: -webkit-linear-gradient(-45deg, #333333 0%,#666666 100%);
  background: linear-gradient(135deg, #333333 0%,#666666 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=1 );
  color: $text-secondary;
}
